@charset "UTF-8";
/* CSS Document */

/* CSSリセット */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers  */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: "Helvetica Neue", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, "メイリオ", sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	color: #000000;
	background-color: #ffffff;
}

img {
	vertical-align: bottom;
}

a:hover img {
	opacity: 0.7;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
	filter: alpha(opacity=60);
	transition: all 0.4s;
}

a {
	text-decoration: none;
	color: #435ea9;
	font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}

a:hover {
	text-decoration: none;
	color: #0E2D96;
	transition: 0.3s all;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

/******* 地図成形 *******/
#japan-map div div.area div {
	border: 1px #ffffff solid;
	text-align: center;
	font-size: 14px;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	/* 縦方向中央揃え */
	-webkit-align-items: center;
	/* 縦方向中央揃え（Safari用） */
	justify-content: center;
	/* 横方向中央揃え */
	-webkit-justify-content: center;
	/* 横方向中央揃え（Safari用） */
	border-radius: 6px;
	-webkit-border-radius: 6px;
	position: absolute;
	box-sizing: border-box;
	transition: 0.2s;
}

#japan-map div div.area div:hover {
	opacity: 0.5;
	transition: 0.2s;
}

#japan-map {
	display: block;
	width: 777px;
	height: 482px;
	background-color: none;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	transform: scale(1.5)translate(0,30%);
	bottom:50px;
	
}

#japan-map p.area-title {
	display: none;
}

/* 北海道・東北 */

#hokkaido-touhoku {
	width: 136px;
	display: block;
	height: 265px;
	position: absolute;
	left: 638px;
}

#hokkaido-touhoku div.area div {
	color: #ffffff;
}

#北海道 {
	width: 133px;
	height: 70px;
	
}

#青森 {
	width: 93px;
	height: 43px;
	left: 21px;
	top: 96px;
}

#秋田 {
	width: 67px;
	height: 42px;
	left: 3px;
	top: 139px;

}

#岩手 {
	width: 67px;
	height: 42px;
	left: 70px;
	top: 139px;
}

#山形 {
	width: 67px;
	height: 42px;
	top: 181px;
	left: 3px;
}

#宮城 {
	width: 67px;
	height: 42px;
	top: 181px;
	left: 70px;
}

#福島 {
	width: 67px;
	height: 42px;
	top: 223px;
	left: 70px;
}

/* 関東 */

#kantou {
	width: 158px;
	display: block;
	height: 174px;
	position: absolute;
	top: 265px;
	left: 623px;
	z-index: 2;
}

#kantou div.area div {
	color: #ffffff;
}

#茨城 {
	width: 52px;
	height: 85px;
	top: 0px;
	left: 100px;
}

#栃木 {
	width: 50px;
	height: 42px;
	top: 0px;
	left: 50px;
}

#群馬 {
	width: 50px;
	height: 42px;
	top: 0px;
	left: 0px;
}

#埼玉 {
	width: 100px;
	height: 43px;
	top: 42px;
	left: 0px;
}

#千葉 {
	width: 52px;
	height: 84px;
	top: 85px;
	left: 100px;
}

#東京 {
	width: 100px;
	height: 42px;
	top: 85px;
	left: 0px;
}

#神奈川 {
	width: 67px;
	height: 42px;
	top: 127px;
	left: 0px;
}

/* 中部 */

#tyubu {
	width: 270px;
	height: 211px;
	position: absolute;
	left: 438px;
	top: 223px;
}

#tyubu div.area div {
	color: #ffffff;
}

#新潟 {
	width: 85px;
	height: 42px;
	left: 185px;
}

#富山 {
	width: 67px;
	height: 42px;
	left: 118px;
}

#石川 {
	width: 50px;
	height: 57px;
	left: 68px;
}

#福井 {
	width: 68px;
	height: 42px;
	left: 0px;
	z-index: 2;
}

#長野 {
	width: 67px;
	height: 85px;
	left: 118px;
	top: 42px
}

#山梨 {
	width: 67px;
	height: 42px;
	left: 118px;
	top: 127px;
}

#岐阜 {
	width: 50px;
	height: 55px;
	left: 68px;
	top: 57px
}

#静岡 {
	width: 67px;
	height: 42px;
	left: 118px;
	top: 169px;
}

#愛知 {
	width: 50px;
	height: 57px;
	top: 112px;
	left: 68px;
}

/* 近畿 */

#kinki {
	width: 186px;
	height: 211px;
	position: absolute;
	left: 320px;
	top: 223px;
}

#kinki div.area div {
	color: #ffffff;
}

#京都 {
	width: 67px;
	height: 84px;
	left: 51px;
}

#滋賀 {
	width: 68px;
	height: 42px;
	top: 42px;
	left: 118px;
}

#大阪 {
	width: 67px;
	height: 85px;
	top: 84px;
	left: 51px;
}

#奈良 {
	width: 34px;
	height: 85px;
	top: 84px;
	left: 118px;
}

#三重 {
	width: 34px;
	height: 85px;
	top: 84px;
	left: 152px;
}

#和歌山 {
	width: 113px;
	height: 42px;
	top: 169px;
	left: 61px;
}

#兵庫 {
	width: 51px;
	height: 98px;
	left: 0px;
}

/* 中国 */

#tyugoku {
	width: 151px;
	height: 98px;
	position: absolute;
	left: 169px;
	top: 223px;
}

#tyugoku div.area div {
	color: #ffffff;
}

#鳥取 {
	width: 50px;
	height: 49px;
	left: 101px;
}

#岡山 {
	width: 50px;
	height: 49px;
	top: 49px;
	left: 101px;
}

#島根 {
	width: 51px;
	height: 49px;
	left: 50px;
}

#広島{
	width: 51px;
	height: 49px;
	top: 49px;
	left: 50px;
}

#山口 {
	width: 50px;
	height: 98px;
	left: 0px;
}

/* 四国 */

#shikoku {
	width: 184px;
	height: 84px;
	position: absolute;
	left: 169px;
	top: 350px;
}

#shikoku div.area div {
	color: #ffffff;
}

#香川 {
	width: 92px;
	height: 42px;
	right: 0px;
}

#愛媛 {
	width: 92px;
	height: 42px;
	left: 0px;
}

#徳島 {
	width: 92px;
	height: 42px;
	right: 0px;
	top: 42px;
}

#高知 {
	width: 92px;
	height: 42px;
	left: 0px;
	top: 42px;
}

/* 九州・沖縄 */

#kyusyu {
	width: 152px;
	height: 247px;
	position: absolute;
	left: 0px;
	top: 235px;
}

#kyusyu div.area div {
	color: #ffffff;
}

#福岡 {
	width: 50px;
	height: 50px;
	left: 101px;
	top: 0px;
}

#佐賀 {
	width: 50px;
	height: 50px;
	left: 51px;
	top: 0px;
}

#長崎 {
	width: 50px;
	height: 50px;
	left: 1px;
	top: 0px;
}

#大分 {
	width: 50px;
	height: 50px;
	left: 101px;
	top: 50px;
}

#熊本 {
	width: 50px;
	height: 100px;
	left: 51px;
	top: 50px;
}

#宮崎 {
	width: 50px;
	height: 50px;
	left: 101px;
	top: 100px;
}

#鹿児島 {
	width: 68px;
	height: 49px;
	left: 83px;
	top: 150px;
}

#沖縄 {
	width: 50px;
	height: 50px;
	left: 1px;
	top: 197px;
}

#emp {
	background-color: #a9a9a9;
}

.text {
	display:inline-block;
  	background:gold;
  	font-size:25px;
  	padding:.5em 1em;
  	border-radius:.5em;
}

h1 {
	padding: 0.5em;
	color: #494949;
	background: #fffaf4;
	border-left: solid 5px #ffaf58;
	font-size: 25px;
	font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}

